.sdlc-container.position-relative
  .sdlc-description
    %a.title-link{ href: "/concurrent-devops" }
      %h2 200% Faster DevOps Lifecycle
    %p
      :markdown
        From project planning and source code management to CI/CD and monitoring, GitLab is a single application for [the entire DevOps lifecycle](/stages-devops-lifecycle/). Only GitLab enables [Concurrent DevOps](/concurrent-devops) to make the software lifecycle 200% faster.
  .table-container
    %p.table-label.single-application-label GitLab is a single application for the entire DevOps lifecycle.
    %p.table-label.separate-application-label GitLab can replace

    %table.sdlc-table
      %tr
        - data.stages.stages.each do |key, stage|
          %td.stage-container
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              = partial "/includes/icons/sdlc-icons/#{key}.svg"
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              %p #{stage.display_name}

      %tr.single-application-row
        - data.stages.stages.each do |stage_key, stage|
          %td.solutions-container
            %img.gitlab-logo{ src: "/images/devops-tools/gitlab-logo.svg" }
            %p.font-bold
              Since
              #{stage.established}
              %br
              we've built:
            - category_keys_active = data.categories.keys.keep_if { |k| data.categories[k].stage == stage_key && data.categories[k].available && data.categories[k].available <= Date.today}
            - category_keys_upcoming = data.categories.keys.keep_if { |k| data.categories[k].stage == stage_key && data.categories[k].available && data.categories[k].available >= Date.today}
            - category_keys_active.each do |key|
              %p
                - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                %a{ href: "#{url}" } #{data.categories[key].name}
            .future-categories
              %p.font-bold
                Coming
                = succeed ':' do
                  %a.font-bold{ href: "#{stage.vision}", target: "_blank" } soon
              - category_keys_upcoming.each do |key|
                %p
                  - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                  %a.future-category{ href: "#{url}", target: "_blank" } #{data.categories[key].name}

      %tr.separate-application-row
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.competitors-container{ id: "#{stage.key}-competitors-container" }

            - stage.competitors.each do |competitor|
              %a.competitor-logo-container{ href: "/devops-tools/#{competitor.key.dup.tr('_', '-')}-vs-gitlab.html" }
                .competitor-tooltip
                  %p.tooltip-text
                    = competitor.name
                  .tooltip-carat
                %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }

  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/devops-tools/' } See and compare all DevOps tools

%script{ src: "/javascripts/rotate-competitors.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }
