@import "variables";
@import "vendor/bootstrap/bootstrap/variables";
@import "utility-classes";
@import "dropdowns";

$lt-large-header: 46px;
$lt-border-color: $color-gray-extra-light;
$lt-border-style: 1px solid $lt-border-color;

.roi-calculator-container {
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 2px 4px $color-transparent-alt;
  border-radius: $border-radius-large;
  background: $color-white;

  .row {
    display: flex;
  }

  .header-col,
  .total-col,
  .data-col {
    padding: 0;
    border-right: $lt-border-style;
  }

  .total-row > .total-col {
    padding: 15px;
    border-bottom: $lt-border-style;
  }

  .total-group {
    display: flex;
    justify-content: space-between;
  }

  .total-row + .data-row > .data-col {
    padding-top: 15px;
  }

  .data-row > .data-col {
    display: flex;
    align-items: center;
    padding: 7px 15px 8px;
  }

  .data-row:last-of-type > .data-col {
    padding-bottom: 15px;
  }

  .brand-title {
    height: 60px;
    padding: 10px 0;
    border-bottom: $lt-border-style;
    font-size: 24px;
  }

  .total-value {
    font-weight: bold;
  }

  .included-group {
    display: flex;

    svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      fill: $point-title-color;
    }
  }

  .toolchain-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      max-width: 25px;
      max-height: 25px;
      margin-right: 8px;
    }
  }

  .dropdown {
    max-width: calc(100% - 100px);
    min-width: 118px;
    margin-bottom: 0;

    .dropdown-menu-toggle.btn {
      max-width: 100%;
    }

    .dropdown-title,
    .dropdown-menu li {
      display: flex;
      align-items: center;
      line-height: 1.2;
      white-space: normal;
    }
  }

  .other-tool-input {
    width: 100%;
    border: 1px solid transparent;

    &:hover {
      border-color: $lt-border-color;
    }
  }

  .toolchain-cost-field {
    display: flex;
    margin-left: 10px;
  }

  .toolchain-input {
    max-width: 50px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid $dropdown-border-color;
    line-height: 25px;
    text-align: right;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.roi-calculator-wrapper {
  h1 {
    margin-top: 10px;
    font-size: $lt-large-header;
  }

  .gitlab-cost {
    position: relative;
    border-right: $lt-border-style;

    h1 {
      padding-right: 40px;
      color: $color-gl-green;
      text-align: right;
    }

    &::after {
      content: "vs";
      position: absolute;
      top: 17px;
      right: -20px;
      padding: 7px 10px;
      border-radius: 50%;
      border: $lt-border-style;
      background-color: $color-white;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .toolchain-cost h1 {
    padding-left: 40px;
    color: $color-gl-red;
    text-align: left;
  }
}
